#about-us-image {
  background-image: url("../images/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
